<div class="app-container">
  <!-- 標題 -->
  <div class="app-header">
    <div class="menu-toggle" (click)="showMenu = !showMenu">☰</div>
    <h1>{{ title }}</h1>
  </div>
  <main>
    <!-- 側邊欄 -->
    <div class="app-sidebar scrollbar" [class.show]="showMenu">
      <ul>
        <li
          *ngFor="let type of types"
          class="pointer"
          [class.active]="selectedType === type"
          (click)="selectedType = type"
        >
          <h3>{{ type }}</h3>
        </li>
      </ul>
    </div>
    <!-- 內容 -->
    <div class="app-content scrollbar">
      @switch (selectedType) { @case ('Collection') {
      <app-collection></app-collection>
      } @case ('Lang') {
      <app-lang></app-lang>
      } @default {
      <pre class="constructing">
*** 施工中 ***
***********************
*                     *
*   (╯°□°）╯︵ ┻━┻     *
*   請稍候...          *
*                     *
***********************
      </pre>
      } }
    </div>
  </main>
</div>
