<h1 class="type-title">Collection</h1>

<div class="method-block" *ngFor="let item of methods">
  <!-- 連結 -->
  <a class="doc-link" [href]="item.link" [target]="'_blank'">{{ item.name }}</a>

  <!-- 解釋 -->
  <div>
    <p class="description-text">{{ item.description }}</p>
  </div>

  <!-- 範例 -->
  <div>
    <p>範例：</p>
    <pre><code [highlight]="item.example"></code></pre>
  </div>

  <!-- 注意事項 -->
  <div *ngIf="item.notes">
    <p>注意事項：</p>
    <pre><code [highlight]="item.notes"></code></pre>
  </div>

  <!-- 原生 -->
  <div *ngIf="item.nativeExample">
    <p>原生：</p>
    <pre><code [highlight]="item.nativeExample"></code></pre>
  </div>
</div>
